* {
    box-sizing: border-box !important;
    /*margin: 0 !important;*/
    font-family: "Gilroy";
}

body {
    /*overflow-x: hidden ;*/
}

ul, li {
    list-style: none;
}

#bg {
    width: 100% !important;
    /* height: 10vh !important; */
    background-color: #5282ff !important;
    padding: 20px;
}

.container {
    width: 85% !important;
    margin: 0 auto !important;
}

.container1 {
    height: 10vh;
    display: flex !important;
    align-items: center !important;
    gap: 20px;
}

.mR {
    margin-right: auto !important;
}

#rubl {
    width: 30px;
}

#flag {
    width: 30px;
    /* height: 15px; */
    /* object-fit: cover; */
}

.dropdownBefore {
    position: relative;
}

.ul {
    display: flex;
}

#ulList {
    display: flex !important;
    align-items: center !important;
    height: 10vh;
    gap: 30px;
}

.menu {
    display: none;
    align-items: center !important;
    gap: 30px;
    overflow-x: hidden;
}

.mobileList {
    display: none;
}


.group-18 {
    width: 99%;
}

.foreign-title {
    font-size: 38px;
    margin-left: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.foreign-subtitle {
    margin-left: 12px;
    margin-bottom: 40px;
}

.sortBtn {
    width: 205px;
    height: 48px;
    font-weight: 500;
    font-size: 20px;
    color: #000;
}

.sortActive {
    color: #fff;
    font-weight: 600;
}

.question {
    width: 30px !important;
    height: 30px !important;
    background-color: white !important;
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deals-title {
    font-size: 38px;
    font-weight: 600;
    padding-bottom: 10px;
    margin-bottom: 0;
}

.dFlex {
    display: flex;
    gap: 10px !important;
    align-items: center;
}

.Arrow {
    margin-right: 5px !important;
}

.button {
    background-color: white !important;
    color: #5282ff !important;
    /* padding: 10px !important ; */
    width: 127px !important;
    height: 51px !important;
}

.heart {
    width: 27px !important;
    height: 22px !important;
    object-fit: cover !important;
}

.fontMed {
    color: white;
    font-weight: 300;
    font-size: 66px;
    margin: 0px !important;
}

#bgHome {
    width: 100% !important;
    padding-top: 70px !important;
    background-color: #5282ff !important;
    height: 485px;
}

.text {
    color: white !important;
    font-size: 26px;
}

.textMed {
    color: white !important;
    font-weight: 500;
    font-size: 33.25px;
}

.medMarket {
    color: white !important;
    font-weight: 500 !important;
    font-size: 18px;
}

.textFlex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 20px;
}

#inputDiv {
    background-color: white !important;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    /* margin-top: -5px !important; */
}

.inputBtn {
    width: 161.35px;
    height: 56px !important;
    margin-left: 15px !important;
    border-radius: 1;
}

.btn_ {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom: none !important;
    background-color: #2D60E4;
    color: #fff;
    outline: none;
    border: none;
    width: 134px;
}

.activeBtn {
    background-color: #fff;
    color: unset;
}

#marginBTN {
    padding-left: 30px;
    padding-top: 70px;
}

#inputSearch {
    width: 528px !important;
    height: 42px !important;
    border-radius: 0 !important;
    padding-left: 10px;
}

#inputEnviroment {
    width: 528px !important;
    height: 42px !important;
    padding-left: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    height: 416px;
}

.box1 {
    grid-column: span 1;
    grid-row: span 2;
    border: 1px solid #d0d0d0;
    border-radius: 9px;
    overflow: hidden;
    background: url("../../assets/Images/girlImage.png") no-repeat right bottom;
}

.box1-text {
    color: #000;
    font-weight: 700;
    font-size: 33px;
    padding-top: 50px;
    padding-left: 50px;
}

.box1-btn {
    color: white;
    background-color: #5282FF;
    width: 193px;
    height: 51px;
    font-size: 19px;
    font-weight: 700;
}

.box2 {
    grid-column: span 1;
    grid-row: span 1;
    border: none;
    display: flex;
    padding-left: 30px;
    padding-bottom: 30px;
    align-items: flex-end;
    color: white;
    font-weight: 700;
    font-size: 30px;
    border-radius: 12px;
}

.box1_2 {
    grid-column: 1/7;
    grid-row: 1/7;
    /*background: url("../../assets/Images/girlImage.png") no-repeat center/cover;*/
}

#_box2 {
    background: linear-gradient(180deg, rgba(82, 130, 255, 0) 0%, #5282ff 100%),
    url("../../assets//Images/Doctors41.png") no-repeat center/cover;
}

#_box2_2 {
    background: linear-gradient(180deg, rgba(82, 130, 255, 0) 0%, #5282ff 100%),
    url("../../assets//Images/arm43.png") no-repeat center/cover;
}

#_box2_3 {
    background: linear-gradient(180deg, rgba(82, 130, 255, 0) 0%, #5282ff 100%),
    url("../../assets//Images/eyeOfMan47.png") no-repeat center/cover;
}

#_box2_4 {
    background: linear-gradient(180deg, rgba(82, 130, 255, 0) 0%, #5282ff 100%),
    url("../../assets//Images/eyeOfMan47.png") no-repeat center/cover;
}

.box1_3 {
    padding-left: 50px;
    padding-top: 70px;
}

.first {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    width: 300px;
    height: 275px;
    background: url("../../assets/Images/girlImage.png") no-repeat center/cover;
    /* padding: 50px; */
}

.bgDoctor {
    background: linear-gradient(180deg, rgba(82, 130, 255, 0) 0%, #5282ff 100%),
    url("../../assets/Images/doctorOperation.png") no-repeat top/cover;
    width: 100%;
    height: 178px;
    border: none;
    border-radius: 12px;
    color: #fff;
    padding-left: 37px;
    padding-bottom: 31px;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    display: flex;
    align-items: flex-end;
}

.grid_2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(4,1fr); */
    gap: 25px 0px;

    /* height: 600px; */
}

.grid_3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* height: 285px; */
    gap: 20px;
}

.grid_4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.grid_5 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}

.grid_6 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}

.bgFooter {
    background-color: #5282ff !important;
}
.footer-wrapper {
    padding-top: 100px;
}

.rowGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-items: start;
    border-bottom: 1px solid #91AFFF !important;
    padding-bottom: 10px;
}

#textFooterid > ul {
    display: inline-block;
    line-height: 45px;
}
.textFooterid{
    padding-left: 15px;
}

#textFooterid:before {
    content: url("../../assets/Images/Vector.svg");
    display: inline-block;
    height: 82px;
    width: 82px;
}

.footerIcons {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    align-items: center;
    height: 10vh;
    padding: 100px 0;
}
.pad-wrapper{
    padding-left: 30px;
}

.pad {
    padding: 15px 46px 42px 53px;
    border-radius: 10px;
    color: #000000;
    font-family: "Gilroy";
    font-size: 20px;
    font-weight: 600
}

.rec-arrow-right, .rec-arrow-left {
    width: 27px !important;
    height: 27px !important;
    min-width: 27px !important;
    font-size: 18px !important;
    line-height: 30px !important;
    box-shadow: none !important;
    background-color: none !important;
}

.rec-pagination {
    visibility: hidden !important;
}

.containerSliderSecond {
    width: 94% !important;
    margin: 0 auto !important;
    text-align: center;
}

.footer-title {
    color: #fff;
    font-size: 33px;
    font-weight: 500;
    line-height: 45px;
}

.footer-subtitle {
    color: #fff;
    font-size: 18px;
}

.footer-nav-title {
    color: #fff;
    font-weight: 500;
    font-family: Inter;
    font-size: 22px;
    padding-bottom: 10px;
}

.footer-nav-link {
    color: #B6D0FF;
    font-family: "Gilroy";
    padding-bottom: 10px;
}

.footer-social {
    width: 31px;
}
.footer-copy{
    text-align: center;
    padding: 15px 0;
    background-color: #2a52ba;
    margin: 0;
    color: #fff;
}


@font-face {
    font-family: "Gilroy";
    src: url("../../Fonts/gilroy/Gilroy-Regular.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("../../Fonts/Inter/static/Inter-Regular.ttf");
}

.foreign-btn-lg {
    color: #5282FF;
    width: 281px;
    height: 57px;
    font-size: 20px;
    border: 1px solid #5282FF;
}

.foreign-btn-sm {
    color: white;
    background-color: #5282FF;
    width: 193px;
    height: 51px;
    font-size: 14px;
    font-weight: 700;
    display: none;
}
.footerIcons-header{
    display: none;
}
.mobile-menu{
    display: none;
}



@media (max-width: 1024px) {
    #ulList {
        display: none !important;
    }

    .mobileList {
        display: flex;
        padding: 0;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        /* right: -100vw; */
        top: 105px;
        width: 100%;
        height: 0;
        background: #5282FF;
        transition: 0.5s ease-in-out;
        z-index: 9;
        
    }
    

    .show {
        right: 0 !important;
        overflow-x: visible !important;
        height: calc(100vh - 105px);
    }

    .hidden {
        display: none;
    }

    .heroTitle {
        text-align: center;
    }

    .inputBtn {
        width: 95% !important;
    }

    .textFlex {
        display: none !important;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
        /*grid-template-rows: repeat(3, 1fr) !important;*/
        gap: 20px;
        height: 100% !important;
    }

    .box1 {
        grid-column: span 2 !important;
        height: 316px;
        border: 1px solid #d0d0d0;
        border-radius: 9px;
        overflow: hidden;
    }

    .grid_2 {
        grid-template-columns: repeat(3, 1fr) !important;
    }

    .grid_2 img {
        width: 200px;
        height: 200px;
    }

    .grid_3 {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .grid_4 {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .rowGrid {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 768px) {
    .grid_2 {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .grid_3 img {
        width: 202px;
        height: 250px;
    }

    .grid_4 img {
        width: 500px !important;
        height: 185px;
    }

    .grid_6 {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .grid_6 img {
        width: 335px !important;
        height: 126px;
        object-fit: cover;
    }

    .foreign-btn-lg {
        display: none;
    }

    .foreign-btn-sm {
        display: inline;
    }

    #textFooterid {
        grid-column: span 2;
    }
    .footer-wrapper {
        padding-top: 25px;
    }
    .rowGrid ul {
        padding-left: 0;
    }
    .textFooterid{
        padding-left: 0;
    }
    .footerIcons{
        padding: 20px 0;
    }
    .pad-wrapper{
        padding-left: 0;
    }
    .footer-med{
        margin-left: 10px;
    }
    .dropdownBefore{
        display: none;
    }
    .mobile-menu{
        display: block;
    }
}

@media (max-width: 576px) {
    .textMed {
        font-size: 16px !important;
    }

    .medMarket {
        font-size: 12px !important;
    }

    .show {
        right: 0 !important;
        overflow-x: visible !important;
    }

    .fontMed {
        font-size: 28px !important;
    }

    .text {
        font-size: 15px !important;
    }

    #marginBTN {
        display: flex;
        justify-content: center;
        padding-left: 0;
        padding-top: 70px;
    }

    #bgHome {
        height: 356px !important;
    }

    .btn_ {
        width: auto !important;
    }

    .inputBtn {
        width: 90% !important;
    }

    .sortBtn {
        font-size: 12px !important;
        width: auto !important;
    }

    .box1 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .box1-text, .box1-btn, .box2 {
        font-size: 14px !important;
    }

    .box1-text {
        padding-top: 0 !important;
        padding-left: 30px !important;
    }

    .box2 {
        height: 129px !important;
        padding-bottom: 10px !important;
    }

    .box1 {
        height: 129px;
        background: url("../../assets/Images/girl-2.png") no-repeat right bottom !important;
    }

    .box1_3 {
        padding-top: 0 !important;
        padding-left: 30px !important;
    }

    .box1-btn {
        width: 89px !important;
        height: 24px !important;
        font-size: 9px !important;
    }

    .bgDoctor {
        background: linear-gradient(180deg, rgba(82, 130, 255, 0) 0%, #5282ff 100%),
        url("../../assets/Images/doctor-2.png") no-repeat top/cover !important;
        height: 95px !important;
        padding-bottom: 14px !important;
        padding-left: 14px !important;
        font-size: 14px !important;
    }

    .deals-title {
        font-size: 12px !important;
    }

    .grid_2 img {
        width: 153px;
        height: 153px;
    }

    .grid_3 {
        gap: 10px !important;
    }

    .grid_3 img {
        width: 152px;
        height: 200px;
    }

    .grid_4 img {
        width: 335px !important;
        height: 126px;
    }

    .group-18 {
        width: 95% !important;
    }

    .foreign-title {
        font-size: 16px !important;
    }

    .foreign-subtitle {
        font-size: 14px;
    }

    #textFooterid:before {
        /*width: 44px;*/
        /*height: 43px;*/
        /*margin-right: 15px;*/
    }

    .footer-title {
        font-size: 17px;
        line-height: 20px;
    }

    .footer-subtitle {
        font-size: 12px;
    }

    .footer-nav-title {
        color: #fff;
        font-size: 14px;
    }

    .footer-nav-link {
        font-size: 12px;
        padding-bottom: 10px;
    }

    .footerIcons {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .footer-social {
        width: 27px;
    }
    .pad {
        padding: 11px 46px 28px;
        font-family: "Gilroy";
        font-size: 13px;
    }
    .footer-copy{
        font-size: 10px;
    }
    .footerIcons-header{
        display: block;
        color: #fff;
    }
    .footerIcons-header h4 {
        font-family: 'Inter';
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        text-transform: capitalize;
        margin: 20px 0 5px;
    }
    .footerIcons-header a{
        font-family: 'Gilroy';
        font-weight: 400;
        font-size: 11px;
        line-height: 14px;
        text-transform: lowercase;
        margin: 0;
        color: #fff;
        display: flex;
        gap: 8px;
    }
}