.socialIconDr {
    transform: translate(34px, 10px);
}

.doc-card {
    display: flex;
    border: 1px solid #F0F0F0;
    margin-top: 20px;
    background-color: #FBFBFB;
    padding: 34px;
}
.doc-card-body-wrapper{
    display: flex;
    gap: 46px;
    width: 100%;
}

.doc-card-img-wrapper {
    width: 304px;
}

.doc-card-img {
    width: 100%;
    height: 295px;
    object-fit: cover;
}

.doc-card-body {
    width: 100%;
}
.doc-card-btns-mobile{
    display: none;
 }
/*.doc-card-btns{*/
/*    display: block;*/
/*}*/


@media (max-width: 756px) {
    .doc-card {
        padding: 10px;
        flex-direction: column;
    }
    .doc-card-body{
        font-size: 12px;
    }
    .doc-card-body-wrapper{
        gap: 16px;
        /*height: 269px;*/
    }
    .doc-card-img{
        height: 100%;
    }
    .doc-card-img-wrapper {
        width: 50%;
    }
    .doc-card-body {
        width: 50%;
    }
    .doc-card-ratings{
        display: none;
    }
    .socialIconDr {
        display: none;
    }
    .doc-card-btns{
        display: none;
    }
    .doc-card-btns-mobile{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .doc-card-btn-1{
    color:#FFF;
    background-color: #5282FF;
    border-radius: 6px;
    width:100%;
    height: 49px;
    }
    .doc-card-btn-2{
        color:#FFF;
        background-color: #5282FF;
        border-radius: 6px;
        width:100%;
        height: 49px;
    }
}