.card{
    width: 364px;
    height: 426px;
    background-color: #333;
    color: #fff;
    font-size: 30px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
@media (max-width: 576px){
    .card{
        width: 244px;
        height: 286px;
    }
}