.displayGridReviewDr{
    display: grid;
    grid-template-columns: minmax(auto, 1fr) minmax(auto, 3fr);
    gap: 30px;
    padding-top: 30px;
}
.display_grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    width: 131px;
}
.cardReviewDoctors{
    display: flex !important;
    border: 0.705342px solid #DADADA;
    border-radius: 11px;
    height: 260px;
    padding: 15px;
    margin-top: 20px;
    background-color: #FAFAFA;
}
.cardReviewDoctors-active{
    background-color: #5282FF;
}

#doctorImage{
    grid-column: 1/13;
    grid-row: 1/13 ;
    object-fit: cover;
}
#likeImage{
    grid-column: 11/12;
    grid-row: 1/2;
    padding-top: 9px;
    object-fit:cover
}
.buttonsNav{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.doc-nav-btn{
    background-color: #ECECEC;
    color: #000;
    height: 36px;
    padding-left: 29px;
    padding-right: 29px;
}
.doc-nav-btn-active{
    color: white;
    background-color: #5282FF;
}
.card-body{
    width: 769px;
    padding-left: 40px;
}

.card-title{
    color: #464646;
    font-size: 16px;
    margin: 0;
}
.card-text{
    color: #464646;
    font-size: 16px;
    margin: 0;
}

@media (max-width: 1024px) {
    .displayGridReviewDr{
        grid-template-columns: repeat(1, 1fr);
    }
    .menuRight{
        grid-row: 1;
    }
    .buttonsNav{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }
    .card-body{
        width: auto!important;
    }

}


@media (max-width: 756px) {
    .cardReviewDoctors{
        /*flex-direction: column;*/
        height: auto;
        align-items: center;
    }
    .display_grid{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(1,1fr);
        width: 170px;
    }
    #doctorImage{
        width: 100%;
    }
    .doc-nav-btn{
        padding-left: 9px;
        padding-right: 9px;
        font-size: 12px;
    }
    .card-title{
        font-size: 10px;
    }
    .card-text{
        font-size: 10px;
    }
    .card-body{
        padding-left: 15px;
    }
}


