@font-face {
    font-family: "Inter";
    src: url("../../../src/Fonts/Inter/static/Inter-Regular.ttf");
  }

  @font-face {
    font-family: "Gilroy";
    src: url("../../../src//Fonts/gilroy/Gilroy-Regular.ttf");
  }

 