@font-face {
    font-family: "Inter";
    src: url("../../../src/Fonts/Inter/static/Inter-Regular.ttf");
}

@font-face {
    font-family: "Gilroy";
    src: url("../../../src//Fonts/gilroy/Gilroy-Regular.ttf");
}

.buttonsSort {
    justify-content: space-between;
    margin-top: 20px;
    display: none;
}

.menuNav-hospitals {
    border: none;
    height: 100vh;
    width: 325px;
}

.cardReviewDoctors{
    display: flex;
    height: 260px;
    border-radius: 15px;
    margin: 35px 0;
    padding: 15px;
    background-color: #fff;
}
#hospitalsImage{
    grid-column: 1/13;
    grid-row: 1/13;
    object-fit: cover;
    width: 220px;
    height: 225px;
    border-radius: 8px;
}

.hospitals-pagination{
    display: flex;
    justify-content: center;
    padding: 25px 0;
}


@media (max-width: 756px) {
    .buttonsSort {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .menuNav-hospitals {
        display: none !important;
    }
    .cardReviewDoctors{
        flex-direction: column;
        height: auto;
        border-radius: 15px;
        margin: 35px 0;
        padding: 15px;
    }
    #hospitalsImage{
        grid-column: 1/13;
        grid-row: 1/13;
        object-fit: cover;
        width: 100%;
        height: 225px;
    }
    .hospitals-pagination{
        display: flex;
        justify-content: center;
        padding: 0 0 35px;
    }

}


 